{% extends "::layout.html.twig" %}

{% block body_left %}
	<div class="search">
		<input type="text" name="search" class="round" />
	</div>
	<div class="results">
		{% for classification in classifications %}
			<div class="element">
				<img scr="{{ classification.ident }}" />
				<h2><a href="{{ path('tv_core_edit_classification', {'id': classification.id}) }}">{{ classification.name }}</a></h2>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block body_right %}
	{{ form(form) }}
{% endblock %}