{% extends "::layout.html.twig" %}

{% block body_left %}
	<div class="search">
		<input type="text" name="search" class="round" />
	</div>
	<div class="results">
		{% for flag in flags %}
			<div class="element">
				<img scr="{{ flag.src }}" />
				<h2><a href="{{ path('tv_core_edit_flag', {'id': flag.id}) }}">{{ flag.name }}</a></h2>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block body_right %}
	{{ form(form) }}
{% endblock %}