{% extends "::layout.html.twig" %}

{% block body_left %}
	<div class="search">
		<input type="text" name="search" class="round" />
	</div>
	<div class="results">
		{% for profile in profiles %}
			<div class="element">
				<img scr="{{ profile.src }}" />
				<h2><a href="{{ path('tv_core_edit_profile', {'id': profile.id}) }}">{{ profile.name }}</a></h2>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block body_right %}
	{{ form(form) }}
{% endblock %}