{% extends "::layout.html.twig" %}

{% block body_left %}
	<div class="search">
		<input type="text" name="search" class="round" />
	</div>
	<div class="results">
		{% for rider in riders %}
			<div class="element">
				<h2><a href="{{ path('tv_core_edit_rider', {'id': rider.id}) }}">{{ rider.nickname }}</a></h2>
				<p>{{ rider.forename }} {{ rider.name }}<br />
				   {{ rider.team.name }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block body_right %}
	{{ form(form) }}
{% endblock %}